           



      

       .container {
         display: -webkit-flex;
	 display: flex;         
         justify-content: center;         
       }

       .container2 {         
         flex-direction: column;        
       }

       .header {
         flex: 1;
       }

       main {
                 
         flex: 3;	          
       }

       .container {
         color: blue;

         .container2 {
         font-family: Tahoma, sans-serif; /* Рубленый шрифт */

           main {
        
             h2 {
             }
           }
         }               
       }       
       

       

       .inputFormColor {
         background: #ffe; /* Цвет фона */
         
       }

        .form-input:focus{
         @extend .inputFormColor

       }
         

       .button-wrapper {         
         float: right;         
       }