@charset "UTF-8";
.container {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.container2 {
  flex-direction: column;
}

.header {
  flex: 1;
}

main {
  flex: 3;
}

.container {
  color: blue;
}

.container .container2 {
  font-family: Tahoma, sans-serif;
  /* �������� ����� */
}

.inputFormColor, .form-input:focus {
  background: #ffe;
  /* ���� ���� */
}

.button-wrapper {
  float: right;
}

